*{
    font-family: Helvetica, sans-serif;
}
#header>div>h1{
    text-transform: uppercase;
    font-weight: bold;
}
#navbarcool{
    background-color: #29AAE1;
}
#header{
    position: relative;
    background: rgb(41,170,225);
    background: linear-gradient(180deg, rgba(41,170,225,1) 21%, rgba(247,126,172,1) 64%);
    text-align: center;
    height: 30rem;
    border-bottom-left-radius: 100% 20rem;
    border-bottom-right-radius: 100% 20rem;
    /*-webkit-box-shadow: 0px 16px 40px 5px #9AAACF; 
    box-shadow: 0px 16px 40px 5px #9AAACF;*/
}
#head{
    text-align: left;
    padding-left: 18rem;
    padding-top: 10rem;
}
#head>div>h1{
    color: #ccc;
    font-weight: bold;
}
#head>div>span{
    position: relative;
    padding: 0.5rem;
    color: black;
    font-weight: bolder;
    background-color: #CFE4E6;
}
@media screen and (min-width: 768px) and (max-width: 930px) {
    #head{
        padding-left: 20rem;
    }
}
body{
    background-image: url("../img/68964ce98ff171061e38665c472dbe95.jpg");
    background-repeat: repeat;
    background-size: 20rem;
    background-color: #D8E8E4;
}
article{
    border-radius: 5px;
    left: 0;
    width: 80%;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #080E2C;
    color: #ccc;
    -webkit-box-shadow: 0px 16px 40px 5px #9AAACF; 
    box-shadow: 0px 16px 40px 5px #9AAACF;
}
article div{
    padding: 20px;
}
rect{
    fill: none;
}
#footer{
    bottom: 0;
    left: 0;
    background-color: #CFE4E6;
    text-align: center;
    clear: both;
    padding-bottom: 15px;
    padding-top: 15px;
}
#footer p{
    padding-left: 15px;
}
#footpadre{
    background-color: #F3FDFB;
}
#contactme{
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}
#contactme p{
    margin: auto;
    margin-top: 32px;
    text-align: center;
}
@media screen and (max-width: 767px){
    #header{
        position: relative;
        height: 15rem;
        border-bottom-left-radius: 100% 10rem;
        border-bottom-right-radius: 100% 10rem;
    }
    #head{
        text-align: center;
        padding-left: 0rem;
        padding-top: 3rem;
    }
    #iconsmedia{
        margin-top: 1rem;
    }
    #contactme p{
        margin: auto;
    }
    #redsvg{
        margin-top: 1rem;
    }
}
@media screen and (max-width: 425px) {
    #header{
        position: relative;
        height: 14rem;
        border-bottom-left-radius: 100% 5rem;
        border-bottom-right-radius: 100% 5rem;
    }
}
#iconsmedia{
    align-content: center;
    justify-content: center;
}
#redsvg>svg{
    height: 5rem;
    width: 5rem;
    max-width: 81px;
    max-height: 81px;
    display: block;
    margin: auto;
}
#redsvg>svg>a>path{
    fill: #2AD1A4;
}
#redsvg>svg:hover{
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}
#redsvg{
    display:inline-block;
    position:relative;
}
#redsvg>div{
    position:absolute;
    top:0;
    left:0;
    /*z-index:-1;*/
    padding:10px;
    margin: 0;
    transform: translate(50%, 50%);
    text-align: center;
    vertical-align: middle;
    color: blue;
}
#sivar{
    text-align: center;
    margin: auto;
    padding-top: 2rem;
}
#Layer_1{
    height: 30rem;
    width: 30rem;
}
.btn-primary{
    background-color: #2AD1A4;
    border-color: #2BD2A4;
}
/*@media screen and (min-width: 425px) and (max-width: 768px) {
    #Layer_1{
        margin-left: 2rem;
        height: 25rem;
        width: 25rem;
    }
    #head{
        padding-top: 7rem;
    }
}*/