*{
    font-family: Helvetica, sans-serif;
}
#header>div>h1{
    text-transform: uppercase;
    font-weight: bold;
}
#navbarcool{
    background-color: #29AAE1;
}
#header{
    position: relative;
    background: rgb(41,170,225);
    background: linear-gradient(180deg, rgba(41,170,225,1) 21%, rgba(247,126,172,1) 64%);
    text-align: center;
    height: 30rem;
    border-bottom-left-radius: 100% 20rem;
    border-bottom-right-radius: 100% 20rem;
    /*-webkit-box-shadow: 0px 16px 40px 5px #9AAACF; 
    box-shadow: 0px 16px 40px 5px #9AAACF;*/
}
#head{
    text-align: left;
    padding-left: 18rem;
    padding-top: 10rem;
}
#head>div>h1{
    color: #ccc;
    font-weight: bold;
}
#head>div>span{
    position: relative;
    padding: 0.5rem;
    color: black;
    font-weight: bolder;
    background-color: #CFE4E6;
}
@media screen and (min-width: 768px) and (max-width: 930px) {
    #head{
        padding-left: 20rem;
    }
}
body{
    background-image: url("../img/68964ce98ff171061e38665c472dbe95.jpg");
    background-repeat: repeat;
    background-size: 20rem;
    background-color: #D8E8E4;
}
#rectangulofondo{
    z-index: -1;
    position: relative;
    margin: 0;
    transform: translateY(29.5rem);
    width: 100%;
    height: 9rem;
}
#rectangulofondo>rect{
    margin: 0;
    width: 100%;
    height: 9rem;
    fill: #F1EDEC;
}
article{
    border-radius: 5px;
    left: 0;
    width: 80%;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    /*color: #ccc;*/
    /*-webkit-box-shadow: 0px 16px 40px 5px #9AAACF; 
    box-shadow: 0px 16px 40px 5px #9AAACF;*/
}
article div{
    padding: 10px;
}
#about>article{
    color: black;
    background-color: #F1EDEC;
}
#foto-persona{
    padding: 1rem;
}
#foto-persona>img{
    position: relative;
    z-index: 1;
    margin: 3rem;
}
.circulos{
    position: relative;
    border-radius: 100%;
    background: rgb(41,170,225);
    background: linear-gradient(180deg, rgba(41,170,225,1) 21%, rgba(247,126,172,1) 64%);
    width: 0.5rem;
    height: 0.5rem;
}
#one{
    width: 10rem;
    height: 10rem;
    float: left;
    transform: rotate(45deg);
    margin-bottom: -10rem;
}
#two{
    z-index: 2;
    float: left;
    transform: rotate(180deg);
    width: 3rem;
    height: 3rem;
    margin-top: -8rem;
}
#three{
    float: right;
    width: 5rem;
    height: 5rem;
    transform: rotate(270deg);
    margin-top: -8rem;
}
.verdecito{
    color: #2BD2A4;
}
#parentesis>p{
    font-size: 10rem;
}
#divisor{
    border: 1px solid #2BD2A4;
}
rect{
    fill: none;
}
#hab{
    background-color: #F3FDFB;
}
#hab>div>article{
    width: 80%;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}
#logos-hab>div{
    /*margin: 0.5rem;*/
    border: 2px solid #F3FDFB;
    border-radius: 5px;
    height: 7rem;
    background-color: #2AD1A4;
}
#logos-hab>div>svg{
    height: 5rem;
    width: 5rem;
    max-width: 81px;
    max-height: 81px;
    display: block;
    margin: auto;
}
#logos-hab>div>svg>path{
    fill: white;
}
#logos-hab>div>svg>g>path{
    fill: #2AD1A4;
}
#externo{
    fill: white;
}
#medio{
    fill: #2AD1A4;
}
#projects{
    background-color: #91DDEA;
}
#footer{
    bottom: 0;
    left: 0;
    background-color: #CFE4E6;
    text-align: center;
    clear: both;
    padding-bottom: 15px;
    padding-top: 15px;
}
#footer p{
    padding-left: 15px;
}
#footpadre{
    background-color: #F3FDFB;
}
#contactme{
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}
#contactme p{
    margin: auto;
    margin-top: 32px;
    text-align: center;
}
@media screen and (max-width: 767px){
    #header{
        position: relative;
        height: 15rem;
        border-bottom-left-radius: 100% 10rem;
        border-bottom-right-radius: 100% 10rem;
    }
    #head{
        text-align: center;
        padding-left: 0rem;
        padding-top: 3rem;
    }
    #iconsmedia{
        margin-top: 1rem;
    }
    #contactme p{
        margin: auto;
    }
    #redsvg{
        margin-top: 1rem;
    }
    #foto-persona{
        padding-bottom: 0rem;
    }
    .Presentacion{
        padding-top: 0rem;
    }
}
@media screen and (max-width: 425px) {
    #header{
        padding-left: 2rem;
        padding-right: 2rem;
        position: relative;
        height: 14rem;
        border-bottom-left-radius: 100% 5rem;
        border-bottom-right-radius: 100% 5rem;
    }
    #one{
        width: 7rem;
        height: 7rem;
        float: left;
        transform: rotate(45deg);
        margin-bottom: -8rem;
    }
}
#iconsmedia{
    align-content: center;
    justify-content: center;
}
#redsvg>svg{
    height: 5rem;
    width: 5rem;
    max-width: 81px;
    max-height: 81px;
    display: block;
    margin: auto;
}
#redsvg>svg>a>path{
    fill: #2AD1A4;
}
#redsvg>svg:hover{
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}
#redsvg{
    display:inline-block;
    position:relative;
}
#redsvg>div{
    position:absolute;
    top:0;
    left:0;
    padding:10px;
    margin: 0;
    transform: translate(50%, 50%);
    text-align: center;
    vertical-align: middle;
    color: blue;
}
#sivar{
    text-align: center;
    margin: auto;
    padding-top: 2rem;
}
#Layer_1{
    height: 30rem;
    width: 30rem;
}
.btn-primary{
    background-color: #2AD1A4;
    border-color: #2BD2A4;
}
@media screen and (min-width:425px) and (max-width:768px){
        #two{
        z-index: 2;
        float: left;
        transform: rotate(180deg);
        width: 4rem;
        height: 4rem;
        margin-top: -11rem;
    }
    #three{
        float: right;
        width: 6rem;
        height: 6rem;
        transform: rotate(270deg);
        margin-top: -10rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 986px) {
    #one{
        width: 8rem;
        height: 8rem;
        float: left;
        transform: rotate(45deg);
        margin-bottom: -10rem;
    }
    #two{
        z-index: 2;
        float: left;
        transform: rotate(180deg);
        width: 3rem;
        height: 3rem;
        margin-top: -7rem;
    }
    #three{
        float: right;
        width: 5rem;
        height: 5rem;
        transform: rotate(270deg);
        margin-top: -8rem;
    }
}