#navbarcool{
    background-color: #6CAD9B;
    color: red;
}
#header{
    padding: 50px 0px 50px 0px ;
    background-color: #44EABB;
    text-align: center;
    /*-webkit-box-shadow: 0px 16px 40px 5px #9AAACF; 
    box-shadow: 0px 16px 40px 5px #9AAACF;*/
}
.titulo{
    margin-left: 10rem;
    margin-right: 10rem;
    opacity: 0.9;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 #6CAD9B;
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    border: solid #080E2C .1px;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 880px){
    .titulo{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .titulo h1,h2{
        padding: 8px;
    }
}

body{
    background-color: #D8E8E4;
}
article{
    border-radius: 5px;
    left: 0;
    width: 80%;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #080E2C;
    color: #ccc;
    -webkit-box-shadow: 0px 16px 40px 5px #9AAACF; 
    box-shadow: 0px 16px 40px 5px #9AAACF;
}
article div{
    padding: 20px;
}
#descrip{
    font-size: small;
}
#footer{
    bottom: 0;
    left: 0;
    background-color: #CFE4E6;
    text-align: center;
    clear: both;
    padding-bottom: 15px;
    padding-top: 15px;
}
#footer p{
    padding-left: 15px;
}
#footpadre{
    background-color: #F3FDFB;
}
#contactme{
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}
#contactme p{
    margin: auto;
    margin-top: 32px;
    text-align: center;
}
@media screen and (max-width: 767px){
    #iconsmedia{
        margin-top: 1rem;
    }
    #contactme p{
        margin: auto;
    }
    #redsvg{
        margin-top: 1rem;
    }
}
#iconsmedia{
    align-content: center;
    justify-content: center;
}
svg{
    height: 5rem;
    width: 5rem;
    max-width: 81px;
    max-height: 81px;
    display: block;
    margin: auto;
}
svg:hover{
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}
#redsvg{
    display:inline-block;
    position:relative;
}
#redsvg>div{
    position:absolute;
    top:0;
    left:0;
    /*z-index:-1;*/
    padding:10px;
    margin: 0;
    transform: translate(50%, 50%);
    text-align: center;
    vertical-align: middle;
    color: blue;
}
#sivar{
    text-align: center;
    margin: auto;
    padding-top: 2rem;
}